body{
	font-family:arial;
}

h2{
	text-align:center;
}

h3{
	text-align:left;
}

.head{
	background:rgb(150,150,255)
}

table, th, td{
	border: 1px solid; 
}

table{
	width: 100%;
}

/* Prevents images from overflowing in flexbox.*/
img{
  max-height: 100%;
  max-width: 48vw;
}

/*Why row instead of column? It seemed more intuitive to create a flexbox that was one row, and have 
 * the columns inside be divs inside a row. One row with 2 divs functions similarly to a flexbox with 2 columns
 * and allowed us greater centering control to match the video reference better. */
.row {
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap:nowrap;
}

.cc{
  color:rgb(0,0,255);
}

circle {
  fill: purple;
  opacity: 0.5;
}

circle:hover {
  stroke: black;
  stroke-width: 5;
}

rect {
  stroke: black;
  stroke-width: 2;
  fill: purple;
}

rect:hover {
  fill: yellow;
}
/* Keeps shapes spread out evenly on window dimension changes */
#decoration {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

}


