body{
	font-family:arial;
}

h2{
	text-align:center;
}

h3{
	text-align:left;
}

.head{
	background:rgb(150,150,255)
}

table, th, td{
	border: 1px solid; 
}

table{
	width: 100%;
}


img{
  max-height: 100%;
  max-width: 50%;
}


.row {
  display: flex;  
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
/*  width: 100%;*/
}

circle {
  fill: purple;
  opacity: 0.5;
  r: 47;
}

circle:hover {
  stroke: black;
  stroke-width: 5;
}

rect {
  stroke: black;
  stroke-width: 2;
  fill: purple;
}

rect:hover {
  fill: yellow;
}

#decoration {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

}



