body{
	font-family:arial;
}

h2{
	text-align:center;
}

h3{
	text-align:left;
}

.head{
	background:rgb(150,150,255)
}

table, th, td{
	border: 1px solid; 
}

table{
	width: 100%;
}



.flexbox {
  display: flex;  
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}


/*.task-abstraction > * {
  padding: 10px;
  flex: 1 100%;
}*/

/*@media all and (min-width: 800px) {
  .vis2 { order: 1; } 
  .vis1 { order: 2; }
}*/

/*body {
  padding: 2em; 
}
*/


